<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GitHubApiUrl" value="https://api.github.com" />
    <add key="GitHubWebUrl" value="https://github.com" />
    <add key="Repo" value="test" />
    <add key="User" value="ws-test-user" />
    <add key="Password" value="you-know-it" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>