<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ITeBooksWeb" value="http://it-ebooks.info" />
		<add key="ITeBooksAPI" value="http://it-ebooks-api.info/v1" />
	</appSettings>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
</configuration>